* {
  color: seashell;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 10px;
}

.logo img {
  height: 50px;
}

main {
  background-color: black;
  padding-top: 85px;
  opacity: 0.9;
  margin: auto;
  font-family: Helvetica;
  font-size: 22px;
}

header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  border-bottom: 1px solid seashell;
  width: 100%;
  height: 69px;
  padding-top: 8px;
  padding-bottom: 8px;
  justify-content: center;
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
}

nav span {
  display: inline-flex;
  text-decoration: underline;
  padding-right: 20px
}


#mission {
  display: flex;
  background: url(../images/img-mission-background.jpg);
  height: 700px;
  width: 1200px;
  margin: auto;
  padding-top: 70px;
  text-align: center;
}

.mission-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#mission .content {
  margin: auto;
  background-color: black;
  width: 100%;
}

#store {
  display: block;
  margin: auto;
  position: relative;
  height: 700px;
  width: 1000px;
  padding: 20px 0px;
  text-align: center;
}

.store-contents {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.box1 {
  display: block;
  padding: 5px;
}

.box1 img {
  display: block;
  height: 200px;
  margin: 10px;
}

.box2 {
  display: block;
  padding: 5px;
}

.box2 img {
  display: block;
  height: 200px;
  margin: 10px;
}

.box3 {
  display: block;
  padding: 5px;
}

.box3 img {
  display: block;
  height: 200px;
  margin: 10px;
}

.box4 {
  display: block;
  padding: 5px;
}

.box4 img {
  display: block;
  height: 200px;
  margin: 10px;
}

.box5 {
  display: block;
  padding: 5px;
}

.box5 img {
  display: block;
  height: 200px;
  margin: 10px;
}

#locations {
  display: block;
  margin: auto;
  height: 500px;
  width: 1100px;
  background: url(../images/img-locations-background.jpg);
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.location-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
  margin: auto;
}

.cities {
  font-weight: bold;
  text-align: center;
  display: flex;
  background-color: black;
  opacity: 1.0;
  justify-content: center;
  margin: auto;
  width: 900px;
}

.location {
  display: block;
  width: 300px;
  height: 300px;
  text-align: center;
  justify-content: center;
}

.location span {
  display: flex;
  text-align: center;
  margin: 40px 0px;
  justify-content: center;
}

.footer {
  display: block;
  height: 200px;
  text-align: center;
  background-color: black;
}

.copyright {
  text-align: left;
  margin-left: 20px;
  background-color: black;
}
